<h1 class="title">Chat room</h1>
<div id="messages">
  <%= render @messages %>
</div>
<label>Say something:</label><br>
<div class="control">
  <input class="input" type="text" data-behaviour="room_speaker">
</div>
